html {
  background-color: #303030;
  color: white;
}

a, a:visited {
  color: darkgray;
  background-color: #404040;
  border: none;
  padding: 20px;
  height: 70px;
  width: 200px;
  text-decoration: none;
  margin: 10px;
}

h1 {
  margin-bottom: 60px;
}
